<div class="container">
    <div class="row">
        <fieldset class="scheduler-border">
            <legend class="texto-primary"> Quiénes somos:</legend>
                <p>
                Somos la primer plataforma por internet (empresa) que hace posible las apuestas (en línea) cara a cara en peleas de gallos (de una manera ágil y segura).
                </p>     
        </fieldset>
    </div>
    <br>
    <div class="row">
        <fieldset class="scheduler-border">
            <legend class="texto-primary"> Misión:</legend>
                <p>
                Lograr que sea posible, (seguro) y fácil (para los amantes de los gallos el) hacer apuestas en peleas de gallos (desde cualquier lugar de la república mexicana y fuera de ella) por internet.
                </p>     
        </fieldset>
    </div>
    <br>
    <div class="row">
        <fieldset class="scheduler-border">
            <legend class="texto-primary"> Visión: </legend>
                <p>
                Ser la empresa líder en México en apuestas en peleas de gallos por internet. 
                </p>     
        </fieldset>
    </div>
    <br>
    <div class="row">
        <fieldset class="scheduler-border">
            <legend class="texto-primary"> Nuestros Valores:</legend>
                <p>
                Excelencia: Brindamos el mejor servicio, el de mejor calidad (y el más confiable), en las apuestas en peleas de gallos por internet. <br>
                Integridad: Respetamos la decisión de nuestros (clientes) socios en las apuestas, (garantizando la seguridad de su dinero) y el pago inmediato de las mismas (como si estuviera presente en el evento).
                </p>     
        </fieldset>
    </div>
    <br>
</div>
<br>